@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";

//Importing scss documents
@import "../sass/colors.scss";

body{
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10rem;
  padding-bottom: 0;
  font-family: 'Roboto', sans-serif;
}

div{
  .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

h1{
  font-weight: bold;
  color: $textColor;
  text-transform: uppercase;
  border: 1px solid $textColor;
  padding: 3rem;
  margin-top: 5rem;
}

nav a{
  color: $textColor;
  margin-right: 0.5rem;
}

a{
  .tab{
    padding: 1rem;
    background-color: $tabBackgroundColor;
    font-size: 1.6rem;
  }
}

.tab {
  display: inline-block;
  border: 1px solid $textColor;
  border-bottom: none;
  cursor: pointer;
}

.tab.active {
  background-color: $tabBackgroundColor;
  color: $textSecondaryColor;
  border: none;
}

div{
  .tabContent{
    color: $textColor;
    border: 1px solid $textColor;
    padding: 1rem;
    font-size: 1.2rem;
    border-top: 0.4rem solid $tabColorHover;
  }
}


@media only screen and (max-width: 832px){
  h1{
    padding: 1.5rem;
    margin-top: 2rem;
  }

  a.tab{
    display: block;
  }

  .tabContent{
    font-size: 1.3rem;
  }
}